version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"

  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"

  - package-ecosystem: "npm"
    directory: "src/ModManUi"
    schedule:
      interval: "weekly"
      day: "friday"
    groups:
      modman-dependencies:
        patterns:
          - "*"
