[submodule "thirdparty/libtomcrypt"]
	path = thirdparty/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "thirdparty/libtommath"]
	path = thirdparty/libtommath
	url = https://github.com/libtom/libtommath
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "thirdparty/catch2"]
	path = thirdparty/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/flac"]
	path = thirdparty/flac
	url = https://github.com/astoeckel/libfoxenflac.git
