// Primitive colors are colors that have literal values and they do not change depending on the context.
$COLOR_BRAND_50: #f7ebdf;
$COLOR_BRAND_100: #f1dfca;
$COLOR_BRAND_200: #eaceae;
$COLOR_BRAND_300: #e0b685;
$COLOR_BRAND_400: #d59d5d;
$COLOR_BRAND_500: #cc8838;
$COLOR_BRAND_600: #b9772c;
$COLOR_BRAND_700: #784818;
$COLOR_BRAND_800: #573816;
$COLOR_BRAND_900: #3d2810;
$COLOR_BRAND_950: #291b0a;
$COLOR_BRAND: $COLOR_BRAND_500;

// These colors are taken from PrimeVue Aura theme
$COLOR_EMERALD_50: var(--p-emerald-50);
$COLOR_EMERALD_100: var(--p-emerald-100);
$COLOR_EMERALD_200: var(--p-emerald-200);
$COLOR_EMERALD_300: var(--p-emerald-300);
$COLOR_EMERALD_400: var(--p-emerald-400);
$COLOR_EMERALD_500: var(--p-emerald-500);
$COLOR_EMERALD_600: var(--p-emerald-600);
$COLOR_EMERALD_700: var(--p-emerald-700);
$COLOR_EMERALD_800: var(--p-emerald-800);
$COLOR_EMERALD_900: var(--p-emerald-900);
$COLOR_EMERALD_950: var(--p-emerald-950);

$COLOR_GREEN_50: var(--p-green-50);
$COLOR_GREEN_100: var(--p-green-100);
$COLOR_GREEN_200: var(--p-green-200);
$COLOR_GREEN_300: var(--p-green-300);
$COLOR_GREEN_400: var(--p-green-400);
$COLOR_GREEN_500: var(--p-green-500);
$COLOR_GREEN_600: var(--p-green-600);
$COLOR_GREEN_700: var(--p-green-700);
$COLOR_GREEN_800: var(--p-green-800);
$COLOR_GREEN_900: var(--p-green-900);
$COLOR_GREEN_950: var(--p-green-950);

$COLOR_LIME_50: var(--p-lime-50);
$COLOR_LIME_100: var(--p-lime-100);
$COLOR_LIME_200: var(--p-lime-200);
$COLOR_LIME_300: var(--p-lime-300);
$COLOR_LIME_400: var(--p-lime-400);
$COLOR_LIME_500: var(--p-lime-500);
$COLOR_LIME_600: var(--p-lime-600);
$COLOR_LIME_700: var(--p-lime-700);
$COLOR_LIME_800: var(--p-lime-800);
$COLOR_LIME_900: var(--p-lime-900);
$COLOR_LIME_950: var(--p-lime-950);

$COLOR_RED_50: var(--p-red-50);
$COLOR_RED_100: var(--p-red-100);
$COLOR_RED_200: var(--p-red-200);
$COLOR_RED_300: var(--p-red-300);
$COLOR_RED_400: var(--p-red-400);
$COLOR_RED_500: var(--p-red-500);
$COLOR_RED_600: var(--p-red-600);
$COLOR_RED_700: var(--p-red-700);
$COLOR_RED_800: var(--p-red-800);
$COLOR_RED_900: var(--p-red-900);
$COLOR_RED_950: var(--p-red-950);

$COLOR_ORANGE_50: var(--p-orange-50);
$COLOR_ORANGE_100: var(--p-orange-100);
$COLOR_ORANGE_200: var(--p-orange-200);
$COLOR_ORANGE_300: var(--p-orange-300);
$COLOR_ORANGE_400: var(--p-orange-400);
$COLOR_ORANGE_500: var(--p-orange-500);
$COLOR_ORANGE_600: var(--p-orange-600);
$COLOR_ORANGE_700: var(--p-orange-700);
$COLOR_ORANGE_800: var(--p-orange-800);
$COLOR_ORANGE_900: var(--p-orange-900);
$COLOR_ORANGE_950: var(--p-orange-950);

$COLOR_AMBER_50: var(--p-amber-50);
$COLOR_AMBER_100: var(--p-amber-100);
$COLOR_AMBER_200: var(--p-amber-200);
$COLOR_AMBER_300: var(--p-amber-300);
$COLOR_AMBER_400: var(--p-amber-400);
$COLOR_AMBER_500: var(--p-amber-500);
$COLOR_AMBER_600: var(--p-amber-600);
$COLOR_AMBER_700: var(--p-amber-700);
$COLOR_AMBER_800: var(--p-amber-800);
$COLOR_AMBER_900: var(--p-amber-900);
$COLOR_AMBER_950: var(--p-amber-950);

$COLOR_YELLOW_50: var(--p-yellow-50);
$COLOR_YELLOW_100: var(--p-yellow-100);
$COLOR_YELLOW_200: var(--p-yellow-200);
$COLOR_YELLOW_300: var(--p-yellow-300);
$COLOR_YELLOW_400: var(--p-yellow-400);
$COLOR_YELLOW_500: var(--p-yellow-500);
$COLOR_YELLOW_600: var(--p-yellow-600);
$COLOR_YELLOW_700: var(--p-yellow-700);
$COLOR_YELLOW_800: var(--p-yellow-800);
$COLOR_YELLOW_900: var(--p-yellow-900);
$COLOR_YELLOW_950: var(--p-yellow-950);

$COLOR_TEAL_50: var(--p-teal-50);
$COLOR_TEAL_100: var(--p-teal-100);
$COLOR_TEAL_200: var(--p-teal-200);
$COLOR_TEAL_300: var(--p-teal-300);
$COLOR_TEAL_400: var(--p-teal-400);
$COLOR_TEAL_500: var(--p-teal-500);
$COLOR_TEAL_600: var(--p-teal-600);
$COLOR_TEAL_700: var(--p-teal-700);
$COLOR_TEAL_800: var(--p-teal-800);
$COLOR_TEAL_900: var(--p-teal-900);
$COLOR_TEAL_950: var(--p-teal-950);

$COLOR_CYAN_50: var(--p-cyan-50);
$COLOR_CYAN_100: var(--p-cyan-100);
$COLOR_CYAN_200: var(--p-cyan-200);
$COLOR_CYAN_300: var(--p-cyan-300);
$COLOR_CYAN_400: var(--p-cyan-400);
$COLOR_CYAN_500: var(--p-cyan-500);
$COLOR_CYAN_600: var(--p-cyan-600);
$COLOR_CYAN_700: var(--p-cyan-700);
$COLOR_CYAN_800: var(--p-cyan-800);
$COLOR_CYAN_900: var(--p-cyan-900);
$COLOR_CYAN_950: var(--p-cyan-950);

$COLOR_SKY_50: var(--p-sky-50);
$COLOR_SKY_100: var(--p-sky-100);
$COLOR_SKY_200: var(--p-sky-200);
$COLOR_SKY_300: var(--p-sky-300);
$COLOR_SKY_400: var(--p-sky-400);
$COLOR_SKY_500: var(--p-sky-500);
$COLOR_SKY_600: var(--p-sky-600);
$COLOR_SKY_700: var(--p-sky-700);
$COLOR_SKY_800: var(--p-sky-800);
$COLOR_SKY_900: var(--p-sky-900);
$COLOR_SKY_950: var(--p-sky-950);

$COLOR_BLUE_50: var(--p-blue-50);
$COLOR_BLUE_100: var(--p-blue-100);
$COLOR_BLUE_200: var(--p-blue-200);
$COLOR_BLUE_300: var(--p-blue-300);
$COLOR_BLUE_400: var(--p-blue-400);
$COLOR_BLUE_500: var(--p-blue-500);
$COLOR_BLUE_600: var(--p-blue-600);
$COLOR_BLUE_700: var(--p-blue-700);
$COLOR_BLUE_800: var(--p-blue-800);
$COLOR_BLUE_900: var(--p-blue-900);
$COLOR_BLUE_950: var(--p-blue-950);

$COLOR_INDIGO_50: var(--p-indigo-50);
$COLOR_INDIGO_100: var(--p-indigo-100);
$COLOR_INDIGO_200: var(--p-indigo-200);
$COLOR_INDIGO_300: var(--p-indigo-300);
$COLOR_INDIGO_400: var(--p-indigo-400);
$COLOR_INDIGO_500: var(--p-indigo-500);
$COLOR_INDIGO_600: var(--p-indigo-600);
$COLOR_INDIGO_700: var(--p-indigo-700);
$COLOR_INDIGO_800: var(--p-indigo-800);
$COLOR_INDIGO_900: var(--p-indigo-900);
$COLOR_INDIGO_950: var(--p-indigo-950);

$COLOR_VIOLET_50: var(--p-violet-50);
$COLOR_VIOLET_100: var(--p-violet-100);
$COLOR_VIOLET_200: var(--p-violet-200);
$COLOR_VIOLET_300: var(--p-violet-300);
$COLOR_VIOLET_400: var(--p-violet-400);
$COLOR_VIOLET_500: var(--p-violet-500);
$COLOR_VIOLET_600: var(--p-violet-600);
$COLOR_VIOLET_700: var(--p-violet-700);
$COLOR_VIOLET_800: var(--p-violet-800);
$COLOR_VIOLET_900: var(--p-violet-900);
$COLOR_VIOLET_950: var(--p-violet-950);

$COLOR_PURPLE_50: var(--p-purple-50);
$COLOR_PURPLE_100: var(--p-purple-100);
$COLOR_PURPLE_200: var(--p-purple-200);
$COLOR_PURPLE_300: var(--p-purple-300);
$COLOR_PURPLE_400: var(--p-purple-400);
$COLOR_PURPLE_500: var(--p-purple-500);
$COLOR_PURPLE_600: var(--p-purple-600);
$COLOR_PURPLE_700: var(--p-purple-700);
$COLOR_PURPLE_800: var(--p-purple-800);
$COLOR_PURPLE_900: var(--p-purple-900);
$COLOR_PURPLE_950: var(--p-purple-950);

$COLOR_FUCHSIA_50: var(--p-fuchsia-50);
$COLOR_FUCHSIA_100: var(--p-fuchsia-100);
$COLOR_FUCHSIA_200: var(--p-fuchsia-200);
$COLOR_FUCHSIA_300: var(--p-fuchsia-300);
$COLOR_FUCHSIA_400: var(--p-fuchsia-400);
$COLOR_FUCHSIA_500: var(--p-fuchsia-500);
$COLOR_FUCHSIA_600: var(--p-fuchsia-600);
$COLOR_FUCHSIA_700: var(--p-fuchsia-700);
$COLOR_FUCHSIA_800: var(--p-fuchsia-800);
$COLOR_FUCHSIA_900: var(--p-fuchsia-900);
$COLOR_FUCHSIA_950: var(--p-fuchsia-950);

$COLOR_PINK_50: var(--p-pink-50);
$COLOR_PINK_100: var(--p-pink-100);
$COLOR_PINK_200: var(--p-pink-200);
$COLOR_PINK_300: var(--p-pink-300);
$COLOR_PINK_400: var(--p-pink-400);
$COLOR_PINK_500: var(--p-pink-500);
$COLOR_PINK_600: var(--p-pink-600);
$COLOR_PINK_700: var(--p-pink-700);
$COLOR_PINK_800: var(--p-pink-800);
$COLOR_PINK_900: var(--p-pink-900);
$COLOR_PINK_950: var(--p-pink-950);

$COLOR_ROSE_50: var(--p-rose-50);
$COLOR_ROSE_100: var(--p-rose-100);
$COLOR_ROSE_200: var(--p-rose-200);
$COLOR_ROSE_300: var(--p-rose-300);
$COLOR_ROSE_400: var(--p-rose-400);
$COLOR_ROSE_500: var(--p-rose-500);
$COLOR_ROSE_600: var(--p-rose-600);
$COLOR_ROSE_700: var(--p-rose-700);
$COLOR_ROSE_800: var(--p-rose-800);
$COLOR_ROSE_900: var(--p-rose-900);
$COLOR_ROSE_950: var(--p-rose-950);

$COLOR_SLATE_50: var(--p-slate-50);
$COLOR_SLATE_100: var(--p-slate-100);
$COLOR_SLATE_200: var(--p-slate-200);
$COLOR_SLATE_300: var(--p-slate-300);
$COLOR_SLATE_400: var(--p-slate-400);
$COLOR_SLATE_500: var(--p-slate-500);
$COLOR_SLATE_600: var(--p-slate-600);
$COLOR_SLATE_700: var(--p-slate-700);
$COLOR_SLATE_800: var(--p-slate-800);
$COLOR_SLATE_900: var(--p-slate-900);
$COLOR_SLATE_950: var(--p-slate-950);

$COLOR_GRAY_50: var(--p-gray-50);
$COLOR_GRAY_100: var(--p-gray-100);
$COLOR_GRAY_200: var(--p-gray-200);
$COLOR_GRAY_300: var(--p-gray-300);
$COLOR_GRAY_400: var(--p-gray-400);
$COLOR_GRAY_500: var(--p-gray-500);
$COLOR_GRAY_600: var(--p-gray-600);
$COLOR_GRAY_700: var(--p-gray-700);
$COLOR_GRAY_800: var(--p-gray-800);
$COLOR_GRAY_900: var(--p-gray-900);
$COLOR_GRAY_950: var(--p-gray-950);

$COLOR_ZINC_50: var(--p-zinc-50);
$COLOR_ZINC_100: var(--p-zinc-100);
$COLOR_ZINC_200: var(--p-zinc-200);
$COLOR_ZINC_300: var(--p-zinc-300);
$COLOR_ZINC_400: var(--p-zinc-400);
$COLOR_ZINC_500: var(--p-zinc-500);
$COLOR_ZINC_600: var(--p-zinc-600);
$COLOR_ZINC_700: var(--p-zinc-700);
$COLOR_ZINC_800: var(--p-zinc-800);
$COLOR_ZINC_900: var(--p-zinc-900);
$COLOR_ZINC_950: var(--p-zinc-950);

$COLOR_NEUTRAL_50: var(--p-neutral-50);
$COLOR_NEUTRAL_100: var(--p-neutral-100);
$COLOR_NEUTRAL_200: var(--p-neutral-200);
$COLOR_NEUTRAL_300: var(--p-neutral-300);
$COLOR_NEUTRAL_400: var(--p-neutral-400);
$COLOR_NEUTRAL_500: var(--p-neutral-500);
$COLOR_NEUTRAL_600: var(--p-neutral-600);
$COLOR_NEUTRAL_700: var(--p-neutral-700);
$COLOR_NEUTRAL_800: var(--p-neutral-800);
$COLOR_NEUTRAL_900: var(--p-neutral-900);
$COLOR_NEUTRAL_950: var(--p-neutral-950);

$COLOR_STONE_50: var(--p-stone-50);
$COLOR_STONE_100: var(--p-stone-100);
$COLOR_STONE_200: var(--p-stone-200);
$COLOR_STONE_300: var(--p-stone-300);
$COLOR_STONE_400: var(--p-stone-400);
$COLOR_STONE_500: var(--p-stone-500);
$COLOR_STONE_600: var(--p-stone-600);
$COLOR_STONE_700: var(--p-stone-700);
$COLOR_STONE_800: var(--p-stone-800);
$COLOR_STONE_900: var(--p-stone-900);
$COLOR_STONE_950: var(--p-stone-950);
