#options GAME (T5, T6)

#filename "Game/" + GAME + "/XModel/XModelLoader" + GAME + ".h"

#set GAME_HEADER "\"Game/" + GAME + "/" + GAME + ".h\""

#pragma once

#include "AssetLoading/IAssetLoadingManager.h"
#include GAME_HEADER
#include "Utils/MemoryManager.h"

#include <istream>
#include <vector>

namespace GAME
{
    bool LoadXModel(std::istream& stream, XModel& xmodel, MemoryManager* memory, IAssetLoadingManager* manager, std::vector<XAssetInfoGeneric*>& dependencies);
}
