# Do not run any npm lifecycle hook scripts (especially after installation).
# Most dependencies should be fine with this.
ignore-scripts=true
# Always prefer locked versions from lockfile when installing.
save-exact=true
