name: check-formatting

on:
  pull_request:

jobs:
  check-formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    container: ubuntu:24.04
    defaults:
      run:
        shell: bash
    steps:
      - name: Install base packages
        run: |
          apt-get update
          apt-get install -y wget tar git make curl

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Configure clang
        uses: ./.github/actions/configure-clang
        with:
          clang_version: 20

      - name: Test formatting for all files
        working-directory: ${{ github.workspace }}
        run: ./scripts/check-format.sh
