name: ci

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build-test-linux:
    strategy:
      matrix:
        build_arch: [x86, x64]
        include:
          - build_arch: x86
            gtk_packages: libgtk-4-dev:i386 libwebkitgtk-6.0-dev:i386
            additional_packages: gcc-14-multilib g++-14-multilib
          - build_arch: x64
            gtk_packages: libgtk-4-dev libwebkitgtk-6.0-dev
    name: Build-Test Linux ${{ matrix.build_arch }}
    runs-on: ubuntu-latest
    container: ubuntu:24.04
    defaults:
      run:
        shell: bash
    steps:
      - name: Setup env for x86 cross-compilation
        if: ${{ matrix.build_arch == 'x86' }}
        run: dpkg --add-architecture i386

      - name: Install g++ and multilib
        run: |
          apt-get update
          apt-get install -y wget tar git make curl gcc-14 g++-14 ${{ matrix.gtk_packages }} ${{ matrix.additional_packages }}
          update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 14
          update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 14
          update-alternatives --set gcc /usr/bin/gcc-14
          update-alternatives --set g++ /usr/bin/g++-14

      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Premake generate
        working-directory: ${{ github.workspace }}
        env:
          PREMAKE_NO_PROMPT: 1
        run: ./generate.sh --modman

      - name: Build UI
        working-directory: ${{ github.workspace }}
        run: |
          npm --prefix src/ModManUi install
          npm --prefix src/ModManUi run lint
          npm --prefix src/ModManUi run build

      - name: Build
        working-directory: ${{ github.workspace }}
        run: |
          [[ "${{ matrix.build_arch }}" == "x86" ]] && export PKG_CONFIG_PATH=/usr/lib/i386-linux-gnu/pkgconfig:$PKG_CONFIG_PATH || true
          echo "Package config path: $PKG_CONFIG_PATH"
          scripts/build.sh release ${{ matrix.build_arch }}
          chmod +x build/bin/Release_${{ matrix.build_arch }}/{ImageConverter,Unlinker,Linker}

      - name: Test
        working-directory: ${{ github.workspace }}/build/lib/Release_${{ matrix.build_arch }}/tests
        run: |
          ./ObjCommonTests
          ./ObjCompilingTests
          ./ObjLoadingTests
          ./ObjWritingTests
          ./ParserTests
          ./SystemTests
          ./ZoneCodeGeneratorLibTests
          ./ZoneCommonTests

  build-test-windows:
    strategy:
      matrix:
        build_arch: [x86, x64]
        include:
          - build_arch: x86
            msbuild_config: Win32
          - build_arch: x64
            msbuild_config: x64
    name: Build-Test Windows ${{ matrix.build_arch }}
    runs-on: windows-latest
    steps:
      - name: Install node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2.0.0

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Premake generate
        working-directory: ${{ github.workspace }}
        env:
          PREMAKE_NO_PROMPT: 1
        run: ./generate.bat --modman

      - name: Build UI
        working-directory: ${{ github.workspace }}
        run: |
          npm --prefix src/ModManUi install
          npm --prefix src/ModManUi run lint
          npm --prefix src/ModManUi run build

      - name: Build
        working-directory: ${{ github.workspace }}
        run: |
          msbuild /m /p:Configuration=Release /p:Platform=${{ matrix.msbuild_config }} build

      - name: Test
        working-directory: ${{ github.workspace }}/build/lib/Release_${{ matrix.build_arch }}/tests
        run: |
          $combinedExitCode = 0
          ./ObjCommonTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          ./ObjCompilingTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          ./ObjLoadingTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          ./ObjWritingTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          ./ParserTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          ./SystemTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          ./ZoneCodeGeneratorLibTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          ./ZoneCommonTests
          $combinedExitCode = [System.Math]::max($combinedExitCode, $LASTEXITCODE)
          exit $combinedExitCode
